.movieDetails {
    background-color: #fab1a0;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.movieDetails img{
  position: relative;
  top: -50px;
  max-width: 200px;
  width: 100%;
  left: 150px;
}
.movieDetails .movieDetails__title{
  margin-top: -20px;
  margin-left: 20px;
  font-weight: 500;
}

.movieDetails__summary{
  font-size: small;
  font-style: oblique;
  color: #2c2c2c;
}